
<h1>API</h1>
<table>
<tbody>
<tr>
<td>
<p>/pw/api/reports?park=0</p>
</td>
<td>
<p>POST</p>
</td>
<td>
<p>Creates a new report object using the JSON object sent as part of the request then stores that report object in the database.</p>
<br />
<p>Returns the new report object.</p>
</td>
</tr>
<tr>
<td>
<p>/pw/api/reports?park=0&amp;id=0</p>
</td>
<td>
<p>PUT</p>
</td>
<td>
<p>Updates the report associated with the id</p>
<br />
<p>Returns the updated report object</p>
</td>
</tr>
<tr>
<td>
<p>/pw/api/reports?park=0</p>
</td>
<td>
<p>GET</p>
</td>
<td>
<p>Returns a list of all reports associated with the park</p>
</td>
</tr>
<tr>
<td>
<p>/pw/api/reports?park=0&amp;id=0</p>
</td>
<td>
<p>GET</p>
</td>
<td>
<p>Returns the specified report</p>
</td>
</tr>
<tr>
<td>
<p>/pw/api/reports?park=0&amp;id=0</p>
</td>
<td>
<p>DELETE</p>
</td>
<td>
<p>Deletes the specified report</p>
</td>
</tr>
</tbody>
</table>
<p></p>